.job {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 15%;
  max-height: 35%;
  gap: 7%;
}

.job > div > p {
  color: white;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 25%;
}

.delete-btns {
  padding: 0;
  margin: 0;
  width: 25%;
  height: 100%;
}

.job-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
